.inner{
    width: 980px;
    margin: 0 auto;
}
.wrapper{overflow: hidden;}
.bd-inner{
    background: #f4f7fa;;
}
.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
}
.skip a{position:absolute; top:-30px; left:0; background:#000; height:30px; line-height:30px; color:#fff; font-size:12px; padding:0 6px;}
.skip a:focus,
.skip a:active{top:0;}